.poke-card {
    background-color: #fff !important;
}

.dark .poke-card {
    background-color: #15202B !important;
}

.dark .poke-card .v-list-item__title, .dark .poke-card .v-card__text {
    color: #f3f3f3!important;
}

.dark .poke-card .v-btn__content {
    color: #42dbcf;
}

.dark .poke-select-card, .dark .poke-select-card .v-list {
    background-color: #15202B !important;
}

.dark .poke-select-card .v-card__title, .dark .poke-select-card .v-list-item__content {
    color: #f3f3f3!important;
}