@import "../global.scss";

.poke-card {
    background-color: $white !important;
}

.dark .poke-card {
    background-color: $dark-comp !important;
}

.dark .poke-card .v-list-item__title, .dark .poke-card .v-card__text {
    color: $dark-words !important;
}

.dark .poke-card .v-btn__content {
    color: $green;
}

.dark .poke-select-card, .dark .poke-select-card .v-list {
    background-color: $dark-comp !important;
}

.dark .poke-select-card .v-card__title, .dark .poke-select-card .v-list-item__content {
    color: $dark-words !important;
}