@import "../global.scss";

.header {
    background-color: $green !important;
    color: $white !important;
}

.dark .header {
    background-color: $dark-comp !important;
    color: $dark-words !important;
}